@charset "UTF-8";

body {background-color: #7194CE}

h1 {color: aliceblue; font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; text-align: center; text-decoration: underline}

h2 {color: aliceblue; font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; text-align: center}

img {border-color: aliceblue;
  border-width: 4px;
  border-style: double;
  border-radius: 10px;}

  table, th, td {
    border: 5px solid rgb(255, 255, 255);
    color: aliceblue; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; font-size: 25px;
  }

  .blink {
    animation: blinker 1.5s linear infinite;
    color: red;
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
   font-size: 30px; 
   text-align: center;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}